         16 feb class 10
**short Hand if/ else Ternary Operators**

In [18]:
num: int = 10
if num > 10:
 int("number is greator than 10")
 num = num + 10
 print("num>>>", num)
else:
    print("number is less than 10")

number is less than 10

In [19]:
#candition 
#statment
#starment if condition else stetament
num : int = 9
print("num is greator than 10") if num > 10 else print("number is less than 10")
#print("num is greator than 10") if num > 10 else print("number is less than 10")

number is less than 10

In [20]:
num = 5
# # num2 = agaer condition true value 20 warana value 10
# num = 10 if num < 10 else 5

num2  = 20 if num < 10 else 5
# if num < 10:
#     num = 10 
# else:
#     num - 5

print("num>>>",num)
print("num2>>>",num2)

num>>> 5
num2>>> 20

**Enumerated Function**

In [21]:
#          0   ,   1       , 2
names = ["Ali", "abdullah", "amir"]

print(names[1])

for name in names:

    names[1] == "Adbullah"
    print("asslamo alaikum Abdullah", names[1])

    print(names)

abdullah
asslamo alaikum Abdullah abdullah
['Ali', 'abdullah', 'amir']
asslamo alaikum Abdullah abdullah
['Ali', 'abdullah', 'amir']
asslamo alaikum Abdullah abdullah
['Ali', 'abdullah', 'amir']

new all function start

In [22]:
#filter   
numbers = [1,2,3,4,5]

def filter_function (num: int):
    return num > 3

filtered_list = list(filter(filter_function, numbers))
print("filtered_list", filtered_list)

filtered_list [4, 5]

In [23]:
num: int = 10
if num > 10:
 int("number is greator than 10")
 num = num + 10
 print("num>>>", num)
else:
    print("number is less than 10")

number is less than 10

In [24]:
num = 5
# # num2 = agaer condition true value 20 warana value 10
# num = 10 if num < 10 else 5

num2  = 20 if num < 10 else 5
# if num < 10:
#     num = 10 
# else:
#     num - 5

print("num>>>",num)
print("num2>>>",num2)

num>>> 5
num2>>> 20

Enumerated Function

In [25]:
#          0   ,   1       , 2
names = ["Ali", "abdullah", "amir"]

#print(names[1])

index = 0

for name in names:
    print("index",index)

    # if names[1] == "Adbullah":
    #     print("asslamo alaikum Abdullah", names[1])

    print(names)
    index = index + 1

index 0
['Ali', 'abdullah', 'amir']
index 1
['Ali', 'abdullah', 'amir']
index 2
['Ali', 'abdullah', 'amir']

In [26]:
#          0   ,   1       , 2
names = ["Ali", "abdullah", "amir"]

#print(names[1])

index = 0

for name in names:
    # print("index",index)
    # print(names)
    # index = index + 1
  print(f"name {index}: {names}")
  index = index + 1

name 0: ['Ali', 'abdullah', 'amir']
name 1: ['Ali', 'abdullah', 'amir']
name 2: ['Ali', 'abdullah', 'amir']

In [27]:
names = ["Ali", "abdullah", "amir"]
 
# names [0] "ali"

# [(0, ali), (1 abdullah), (2 amir)]
# for index, num in enumerate(names):
#     print(f"name {index}: {names}")

for index,name in enumerate(names):
    # names [0] first time name ali
    #names [1] second loop abdullah
    #  adullah == abdullah
    if names[index] == "abdullah":
     print("Asslamoalaikum Abdullah")

     print(f"name{index}: {name}")
     index = index + 1

Asslamoalaikum Abdullah
name1: abdullah

Map , filter Reduces Function

In [28]:
numbers = [1,2,3,4,5]
#new_list>>>>, [1, 4, 9, 16, 25]

def square (num: int):
    return num * num
#print (square(2))
#square(2)
new_list = [] # empty list 
print("new_list  before loop")
for num in numbers:
    print("num>>>>>", num)
    print("calling  square function")
    num_sqr = square(num)
    print("num>>>", num_sqr)
    print("adding element to list")
    new_list.append(num_sqr)

new_list  before loop
num>>>>> 1
calling  square function
num>>> 1
adding element to list
num>>>>> 2
calling  square function
num>>> 4
adding element to list
num>>>>> 3
calling  square function
num>>> 9
adding element to list
num>>>>> 4
calling  square function
num>>> 16
adding element to list
num>>>>> 5
calling  square function
num>>> 25
adding element to list

In [ ]:
#Maps
numbers = [1,2,3,4,5]

def square (num: int):
    return num * num
# new_list = map(square,numbers)     # square firts argument  number 2 arguemnet map fuction give us new list  map is function is map take 2 arguments
new_list = list(map(square,numbers)) 
print("number>>>", numbers)
print("new_list>>>>,", new_list)

number>>> [1, 2, 3, 4, 5]
new_list>>>>, [1, 4, 9, 16, 25]

In [30]:
#filter   
numbers = [1,2,3,4,5]

def filter_function (num: int):
    return num > 3

filtered_list = list(filter(filter_function, numbers))
print("filtered_list", filtered_list)

filtered_list [4, 5]

In [32]:
#filter    or if we using map function is tell true and flase 
numbers = [1,2,3,4,5]

def filter_function (num: int):
    return num > 3

filtered_list = list(map(filter_function, numbers))
print("filtered_list", filtered_list)

# H.w reduce function

filtered_list [False, False, False, True, True]

Class Assigment
**"Reduce"**

In [34]:
from functools import reduce
def multiply (x,y):
    return x * y
numbers = [1,2,3,4,5]
print("numbers>>>", numbers)
print("reduce>>>>", reduce(multiply, numbers))

numbers>>> [1, 2, 3, 4, 5]
reduce>>>> 120

In [35]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
print("numbers>>>", numbers)
print("reduce>>>>", reduce(lambda x, y: x * y, numbers))

numbers>>> [1, 2, 3, 4, 5]
reduce>>>> 120

In [36]:
from functools import reduce

names = ["Ali", "Rohaan", "Rehman", "Rehan"]

# Using reduce to format the names
name_list = reduce(lambda x, y: x + ", " + y, names)

print("Name List:", name_list)

Name List: Ali, Rohaan, Rehman, Rehan